/** 
 * CSS Styles for GFW Woocommerce customizations plugin
 * Version 0.17
 * (version above is equal with main plugin file version when this file was updated)
 */

/* Woocommerce! */
.woocommerce div.product form.cart .quantity {
    display: inline-block;
    width: calc(15% + 12px);
    margin: 0 !important;
    float: right !important;
	border: 1px solid #ddd;
    text-align: center;
}
.woocommerce div.product form.cart .quantity input.qty {
    width: 100%;
    text-align: center;
    padding: 16px 2px;
    font-size: 18px;
}
.woocommerce div.product form.cart button.button {
	width: calc(85% - 26px);
    padding: 20px !important;
    margin-right: 14px;
}
@media(max-width:545px) {
    .woocommerce div.product form.cart .quantity {
        width: 100%;
        margin: 5px 0 !important;
    }
    .woocommerce div.product form.cart button.button {
        width: 100% !important;
        margin: 5px 0;
    }
}
.woocommerce div.product form.cart .variations td {
    vertical-align: baseline;
}
.woocommerce ul.products li.product a.button {
    width: 100%;
    text-align: center;
    padding: 18px;
}
.woocommerce-checkout #payment ul.payment_methods li {
    list-style: none;
}
.post-type-archive-product ul.products h2.woocommerce-loop-product__title {
    min-height: 54px;
}
ul.products > li.product a.woocommerce-LoopProduct-link {
    text-align: center;
}
ul.products > li.product a.woocommerce-LoopProduct-link span.price {
    font-size: 16px;
}
.woocommerce form .form-row textarea {
    height: 18em;
}
.woocommerce-additional-fields textarea#order_comments {
    height: 14em;
}
h3#ship-to-different-address > label > span {
    display: inline-block;
}
h3#ship-to-different-address > label > input#ship-to-different-address-checkbox {
    width: initial;
}
.woocommerce .cart_item .quantity .qty {
	width: 7em;
    text-align: right;
}
.woocommerce ul#shipping_method li input {
    display: inline-block;
    width: 16px;
    margin-top: 5px;
}
/* Purple or Green -> Dark Gray */
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #414141;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #515151;
}
.woocommerce-Price-amount {
    color: #545454;
	font-weight: bold;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #767676;
}
/* END Purple or Green -> Dark Gray */
.woocommerce-loop-category__title mark.count {
    background: none;
}
.woocommerce-checkout input, .woocommerce-checkout select, .woocommerce-checkout textarea,.woocommerce-cart input, .woocommerce-cart select, .woocommerce-cart textarea, .woocommerce-account input, .woocommerce-account select, .woocommerce-account textarea {
    text-transform: none;
}
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button, .woocommerce-page .woocommerce-error .button, .woocommerce-page .woocommerce-info .button, .woocommerce-page .woocommerce-message .button {
    padding: 20px;
    background-color: #414141;
    color: white;
}
.woocommerce-message {
    line-height: 54px;
}
.woocommerce-cart-form button.button, .woocommerce-checkout button.button {
    padding: 20px !important;
    background-color: #414141 !important;
    color: white !important;
}
.woocommerce-cart-form input#coupon_code, .woocommerce-checkout input#coupon_code {
    padding: 18px 10px;
    min-width: 160px;
    font-size: 16px;
}
.woocommerce-cart-form .product-quantity {
    text-align: right;
}
.woocommerce-cart-form .product-subtotal {
    text-align: right;
}
@media (max-width:425px) {
    .woocommerce-cart-form input#coupon_code {
        min-width: 100%;
        margin-bottom:10px;
    }
	.woocommerce-checkout input#coupon_code {
        width: 100% !important;
        margin-bottom:10px;
    }
	.woocommerce-cart-form  button.button, .woocommerce-checkout  button.button {
		min-width: 100%;
	}
	.checkout_coupon .form-row, form.checkout .form-row {
		display: block;
		min-width: 100%;
	}
}
.woocommerce ul.woocommerce-error {
	margin-left: 0;
}
/* Woocommerce END */

/* The Quantity box */
div.quantity .minus, div.quantity .plus{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}
div.quantity input{
	width: 40px !important;
	text-align: center;
	font-size: 20px;
	border: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	-moz-appearance: textfield;
}
div.quantity input::-webkit-outer-spin-button, 
div.quantity input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
/* The Quantity box END */ 

/* The Shipping in the Cart and Checkout*/
.shipping-options-row:before {
    display: none;
}
.woocommerce-cart .order-total > td, 
.woocommerce-cart .cart-subtotal > td {
    text-align: right !important;
}
.cart_totals .cart-subtotal th, 
.cart_totals .order-total th, 
.cart-subtotal > th, 
.order-total > th, 
form.checkout .product-name {
    text-transform: none;
}

td.shipping-options-row {
    padding: 9px 0 !important;
	background: none !important;
}
.gfw_shipping_calculator {
    padding: 0px 12px;
}
.gfw_shipping_destination {
    padding: 0px 12px;
	margin: 5px 0;
}
.gfw_shipping_methods_title {
    padding: 10px 12px;
}
.gfw_shipping_methods ul#shipping_method li {
    border-top: 1px solid rgba(0,0,0,.1);
    margin: 0;
	padding: 9px;
}
.gfw_shipping_title {
    display: block;
    text-align: left;
    font-weight: bold;
}
.gfw_shipping_destination .woocommerce-shipping-destination {
    display: block;
    text-align: left;
	font-style: italic;
	font-weight: normal;
    margin-bottom: 10px;
}
.gfw_shipping_methods {
    border-top: 1px solid rgba(0,0,0,.1);
}
.gfw_shipping_calculator form.woocommerce-shipping-calculator a.shipping-calculator-button {
    display: block;
    width: 100%;
    margin: 0;
    text-align: right;
}
.gfw_shipping_calculator .woocommerce-shipping-calculator {
    margin-top: -24px;
}

.gfw_shipping_method_list_element label {
	display: inline-block !important;
	text-align: left;
	font-weight: normal;
}
@media(min-width:1024px) {
	.gfw_shipping_method_cost {
		display: inline-block;
		float: right;
	}
	.gfw_shipping_method_list_element label {
		width: calc(100% - 125px);
	}
}
@media(max-width:1023px) {
    .gfw_shipping_method_cost {
        display: block;
        width: fit-content;
        float: none;
        margin: 0 0 0 auto;
    }
    .gfw_shipping_method_list_element label {
        width: calc(100% - 25px);
    }
}

@media(max-width: 768px){
	.gfw_shipping_title:after {
		content: ':';
	}
}

/* Checkout mostly from here on */
form.woocommerce-checkout td.product-total, 
form.woocommerce-checkout th.product-total, 
form.woocommerce-checkout tr.cart-subtotal > td, 
form.woocommerce-checkout tr.order-total > td {
    text-align: right;
}

 
 
 
